# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# Flask specific files
instance/
*.sqlite3
*.db

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# logs
*.log

# other
*.DS_Store
*.egg-info/
*.egg
